table {
  margin: 0 auto;
  /*border-collapse: collapse;*/
  border-color: black;
  background: white;
}
td {
  width: 10px; height: 10px;
  border: 2px solid black;

}
.alive {
  background-color: #336699;
}

.dead {

}

