table {
  margin: 0 auto;
  /*border-collapse: collapse;*/
  border-color: black;
  background: white;
}
td {
  width: 10px; height: 10px;
  border: 2px solid black;

}
.alive {
  background-color: #336699;
}

.dead {

}

.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}
